<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="logo">EduQuiz Logo</div>
    <div class="title">EduQuiz</div>
    <a href="/logout">Login Out</a>
    <div>
        <span>Welcome, <span th:text="${username}"></span>!</span>
        <span th:if="${username == null}">Welcome, Guest!</span>
    </div>
</header>
<main>
    <form id="loginForm" th:action="@{/home}" method="post">
    <aside>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="schools">Schools</a></li>
            <li><a href="quiz">Quiz</a></li>
            <li><a href="results">Results</a></li>
            <li><a href="prizes">Prizes</a></li>
            <li><a href="updates">Updates</a></li>
            <li><a href="youtube">YouTube</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="helpline">Helpline</a></li>
        </ul>
    </aside>
    <section id="main-content">
        <h1>Welcome to EduQuiz</h1>
        <p>Your platform for interactive quizzes and educational resources.</p>
    </section>
    </form>
</main>
<footer>
    <p>&copy; 2024 EduQuiz. All rights reserved.</p>
</footer>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
