<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="logo">EduQuiz Logo</div>
    <div class="title">EduQuiz</div>
    <div class="auth">
        <a href="/login">Sign In</a> / <a href="/register">Sign Up</a>
    </div>
</header>
<main id="main-content">
    <form id="loginForm" th:action="@{/submit_login}" method="post">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
        <p th:if="${error}" th:text="${error}"></p>
    </form>
</main>
<footer>
    <p>&copy; 2024 EduQuiz. All rights reserved.</p>
</footer>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
