<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quiz Page</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<header>
		<div class="logo">EduQuiz Logo</div>
		<div class="title">EduQuiz</div>
		<div class="auth">
			<span>Welcome, <span th:text="${username}"></span>!</span>
		</div>
	</header>
	<main>
		<aside>
			<ul>
				<ul>
					<li><a href="home">Home</a></li>
					<li><a href="schools">Schools</a></li>
					<li><a href="quiz">Quiz</a></li>
					<li><a href="results">Results</a></li>
					<li><a href="prizes">Prizes</a></li>
					<li><a href="updates">Updates</a></li>
					<li><a href="youtube">YouTube</a></li>
					<li><a href="aboutus">About Us</a></li>
					<li><a href="helpline">Helpline</a></li>
				</ul>
			</ul>
		</aside>
		<section id="main-content">
			<div class="timer" id="timer">20:00</div>
			<button id="startQuiz">Start Quiz</button>
			<div id="questionNumbers"></div>
			<div id="questions"></div>
			<button id="prevQuestion" disabled>Previous</button>
			<button id="nextQuestion" disabled>Next</button>
			<button id="finishTest" disabled>Finish Test</button>

		</section>

	</main>
	<footer>
		<p>&copy; 2024 EduQuiz. All rights reserved.</p>
	</footer>
	<script th:src="@{/js/scripts.js}"></script>
</body>

</html>