<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="logo">EduQuiz Logo</div>
    <div class="title">EduQuiz</div>
    <div class="auth" th:if="${username == null}">
        <a href="/login">Sign In</a> | <a href="/register">Sign Up</a>
    </div>
    <div class="login-info" th:if="${username != null}">
        <span>Welcome, <span th:text="${username}"></span>! | <a href="/logout"> LogOut</a></span>
        <span th:if="${username == null}">Welcome, Guest!</span>
    </div>
</header>
<main id="main-content">
    <form id="registerForm" th:action="@{/submit_register}" method="post" th:object="${quizUser}">
        <h2>Register</h2>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="fatherName">Father Name:</label>
        <input type="text" id="fatherName" name="fatherName" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" id="mobileNumber" name="mobileNumber" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="schoolName">School Name:</label>
        <input type="text" id="schoolName" name="schoolName" required><br>
        <label for="userClass">Class:</label>
        <input type="text" id="userClass" name="userClass" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Register</button>
    </form>
</main>
<footer>
    <p>&copy; 2024 EduQuiz. All rights reserved.</p>
</footer>
<script src="scripts.js"></script>
</body>
</html>
